<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de Assistências</title>
</head>
<body>
    <h1>Bem-vindo ao Cadastro de Assistências</h1>
    <a href="/add_assistance">Adicionar Assistência</a>
    <a href="/view_assistances">Ver Assistências</a>
</body>
</html>

<html>
<head>
    <title>Cadastro de Planos de Assistência</title>
</head>
<body>
    <h1>Bem-vindo ao Sistema de Planos de Assistência</h1>
    <a href="/add_plano">Adicionar Plano</a>
    <a href="/view_plano">Ver Planos</a>
</body>
</html>

<html>
<head>
    <title>Cadastro de Planos de Benefícios</title>
</head>
<body>
    <h1>Bem-vindo ao Sistema de Planos de Benefícios</h1>
    <a href="/add_benefit_plan">Adicionar Plano de Benefício</a>
    <a href="/view_benefit_plans">Ver Planos de Benefícios</a>
</body>
</html>

<html>
<head>
    <title>Cadastro de Benefícios</title>
</head>
<body>
    <h1>Bem-vindo ao Sistema de Cadastro de Benefícios</h1>
    <a href="/add_benefit">Adicionar Benefício</a>
    <a href="/view_benefits">Ver Benefícios</a>
</body>
</html>
